<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
</head>
<body>
  <h1>Bienvenido(a) <%= usuario.nombre %></h1>

  <!-- Resto del contenido de la vista de productos -->

  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</body>
</html>
